# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/

# Env
.env
.env.*
!.env.example

# Models & weights
*.pt
*.pth
*.bin
*.onnx
*.tflite
.cache/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!example.tfvars

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
